#root {
  margin: 0 auto;
  text-align: center;
}

.arrows {
  margin: 0 .5rem 0 .5rem;
}

.denoiser-menu {
  margin: auto;
  display: block;
}

.header {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
}

.header-side-div {
  flex: 1;
  margin-top: 5rem;
}

.instructions {
  font-size: larger;
}

.lf-index {
  margin: 0;
}

.lf-viewers {
  text-align: center;
  display: flex;
  justify-content: center;
}

.light-field {
  width: 625;
  height: 434;
}

.light-field-viewer {
  margin: 1%;
}

.titles {
  flex: 1;
}

.view-button button {
  height: fit-content;
  width: fit-content;
}

.view-nr {
  color: rgba(255, 255, 255, 0.4);
  font-size: x-large;
  margin: 0;
  padding: 0;
}
