#root {
  margin: 0 auto;
  text-align: center;
}

.body {
  text-align: center;
  display: flex;
  justify-content: center;
}

.denoiser-menu {
  margin: auto;
  display: block;
}

.header {
  margin-top: 2%;
  display: flex;
}

.header-side-div {
  flex: 1;
  margin-top: 5rem;
}

.light-field {
  width: 625;
  height: 434;
}

.light-field-viewer {
  margin: 1%;
}

.titles {
  flex: 1;
}

.view-button button {
  height: fit-content;
  width: fit-content;
}